.it-btn-forward {
  background-color: transparent;

  padding: 7px 20px 7px 20px;
  border-radius: 4em;

  &:focus {
    outline: none;
  }

  &--active {
    color: white;

    background-color: @button-gradient;
    border-color: @button-gradient;

    .linear-gradient(lighten(@button-gradient, 0%), @button-gradient);
  }
}