.it-step {
  @arrow-size: 7px;
  @arrow-border: 1px solid black;
  @button-size: 25px;
  text-align: center;
  position: static !important;

  &__relative {
    position: relative;
  }

  &__arrow {
    position: absolute;
    width: 100%;
    border-bottom: 1px solid black;
    background-color: black;
    z-index: 2;

    @media all and (min-width: @screen-sm) {
      &:after {
        .transform(45deg);

        content: '';
        width: @arrow-size;
        height: @arrow-size;
        border-top: @arrow-border;
        border-right: @arrow-border;

        position: absolute;
        right: 0;
        bottom: -@arrow-size/2;
      }
    }
  }

  &__button {
    position: relative;
    z-index: 2;

    border: 1px solid @step-button-gradient;
    border-radius: 50%;

    bottom: @button-size/2;
    width: @button-size;
    height: @button-size;

    font-size: 1.1em;
    font-weight: bold;
    color: @step-button-text-color;
    text-shadow: -1px 0px 2px rgba(0, 0, 0, 0.36);

    .linear-gradient(@step-button-gradient, lighten(@step-button-gradient, 20%));

    &:focus {
      outline: 0;
    }
  }

  &__link {
    display: block;
    padding: 0 5px 5px 5px;
    margin: -5px 0 0;
    font-size: 1.2em;
    color: black;
    cursor: default;
    position: relative;
    z-index: 2;

    text-decoration: none !important;
  }
}

.it-step--active {
  .it-step__button {
    color: white;
    .linear-gradient(@step-active-button-gradient, lighten(@step-active-button-gradient, 0%));
    border: 1px solid @step-active-button-gradient;
  }
}

.it-step--active.it-step--highlighted {

  @media all and (min-width: @screen-sm) {
    &:before {
      border-top: @program-border;
      border-right: @program-border;
      border-left: @program-border;
    }
  }
}