.it-select {
  .it-box;

  @baseColor: #181818;
  width: 100%;
  table-layout: fixed;

  a {
    font-size: 1.2em;
    color: darken(@baseColor, 15%);
    display: block;
    padding: 3px 3px 3px 8px;

    &.marked {
      color: @baseColor;
      font-weight: bold;
    }

    &:hover {
      background-color: lighten(@gradient-default, 15%);
      cursor: pointer;
      text-decoration: none;
    }

    &.chosen {
      text-decoration: underline;
      font-weight: bold;
    }
  }

  .it-show {
    padding-top: 5px;
    color: @baseColor;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1em;
  }

  &-break {
    @media all and (max-width: @screen-xs-max) {
      min-width: 0;
      text-align: center;

      &, tbody, tr, td {
        display: block;
        width: 100%;
      }
    }
  }
}