@step-bg-color: rgb(255, 255, 255);
@step-description-text-color: rgb(142, 142, 142);
@step-button-gradient: rgb(144, 144, 144);
@step-button-text-color: rgb(255, 255, 255);
@step-active-button-gradient: #9b0000;
@step-margin: 10px;
@step-nav-top-space: 40px;
@step-nav-steps-count: 5;

@gradient-default: rgb(255, 255, 255);

@arrow-color: rgb(121, 121, 121);

@text-color: rgb(255, 255, 255);

@button-gradient: #9b0000;
@button-gradient-invalid: #dfdfdf;

@body-background: white;

@program-border-size: 4px;

@program-title-size: 90px;
@program-border: @program-border-size solid @button-gradient;

@box-padding: 10px;